<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="{{ path('home') }}">Blog</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li><a href="{{ path('writeArticle') }}">Write article</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if app.session.get('author_id') %}
                    <img src="{% if app.session.get('author_photo') %}{{ app.session.get('author_photo') }}{% else %}https://s3.eu-west-2.amazonaws.com/execice/default-user-image.png{% endif %}" width="40px" height="40px" style="margin: 5px;"/>
                    <li><a href="{{ path('logout') }}">Logout</a></li>
                {% else %}
                    <li><a href="{{ path('login') }}">Login</a></li>
                    <li><a href="{{ path('register') }}">Register</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>